# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Temporary files
*.tmp
*.bak
*.swp

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
